{%  extends '::base.html.twig' %}


{% block body %}
    <form method="post" action="{{ path(conexion) }}" >
        <input type="number" name="op1"/>
        <input type="number" name="op2"/>
        <input type="submit" value="operar"/>
    </form>
{% endblock %}